header {
    height: 122px;
    background-color: #000;
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 23px;
        &__logo {
            width: 95px;
            img {
                width: 100%;
            }
        }
        &__contacts {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        &__phone {
            display: block;
            font-size: 19px;
            font-weight: 700;
            color: #fff;
        }
        nav {
            .menu {
                display: flex;
                justify-content: space-between;
                padding-left: 0;
                list-style-type: none;
                &__link {
                    color: #fff;
                    font-size: 15px;
                    font-weight: 400;
                    text-decoration: none;
                }
                &__item {
                    border-right: 1px dotted #fff;
                    padding-right: 10px;
                    padding-left: 12px;
                    &:last-child {
                        border-right: none;
                    }
                }
            }
        }
    }
}
